.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.movie__intro {
    width: 80%;
}

.movie__backdrop {
    width: 100%;
    height: 500px;
    object-fit:cover;
    object-position: 0 35%;
}

.movie__detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 200px;
}

.movie__detailLeft {
    margin-right: 30px;
}

.movie__poster {
    width:300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content:space-between ;
    padding-top: 240px;
}

.movie__detailRightTop > div{
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: .5rem;
}

.movie__name {
    font-weight: 600;
    font-size: 3rem;
}

.movie__voteCount {
    margin-left: 1rem;
}

.movie__genres {
    margin: 1.25rem 0;
}

.movie__genre {
    padding: .5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 1rem;
}


.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}
.synopsisText > div:last-of-type {
    margin-left: auto;
}

.movie__links {
    position: relative;
    bottom: 120px;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.movie__heading {
    font-size: 2.2rem;
}

.movie__Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    color: black;
    font-weight: bold;
}

.movie__homeButton {
    background-color:rgb(255, 0, 0);
    
}

.movie__imdbButton {
    background-color:#f3ce13;
}

.newTab {
    margin-left: 1.4rem;
}

.movie__production {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
}


.movie__productionComapany {
    width: 200px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.movie-watch-button a {
    text-decoration: none;
}
.user-reviews{
    width: 80%;
    color: white;
    margin-bottom:30px;
    margin-top: -100px;
    border: solid white 2px;
}
.user-review-list {
    height: 335px;
    overflow: auto;
}
.no-user-review-list {
    height: 50px;
    overflow: hidden;
}
.user-reviews h2{
    text-align: center;
    width: 99%;
    border-bottom: solid white 2px;
    padding: 0px 5px 10px;
}
.user-reviews p{
    text-align: start;
    padding: 0px 30px;
}

/* Css for Add review section */
.add-review-section {
    height: 400px;
    width: 400px;
    margin: 50px auto;
}
.add-review-section h1 {
    color: #fff;
    margin-bottom: 50px;
}

.add-review-section form textarea {
    border: 1px solid #e3e3e3 !important;
    border-radius: 4px !important;
    width: 100%;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-right: 10px;
}

.add-review-section form input {
    border: 1px solid #e3e3e3 !important;
    border-radius: 4px !important;
    width: 100%;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-right: 10px;
    padding: 20px 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.add-review-section form button[type="submit"] {
    border-radius: 4px !important;
    padding: 20px;
}